body,
html,
#root {
  height: 100vh;
}

html {
  font-size: 18px;
}

h1 {
  padding: 0.77rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
}

button:focus {
  outline: 1px solid rgb(154, 125, 242);
}

.App {
  min-height: 80vh;
  padding: 80px 17% 5% 17%;
  background: rgb(56, 26, 143);
  background: linear-gradient(to top right, rgb(210, 210, 210) 20%, rgb(255, 255, 255) 100%);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-inner-container {
  padding: 0 5% 5%;
  border: 5px solid #a79ec2;
  background: linear-gradient(to bottom left, rgb(66, 31, 169) 20%, rgba(97, 59, 210, 1) 70%);
  box-shadow: 0px 0px 20px rgb(42, 26, 63);
  border-radius: 10px;
  position: relative;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App {
    padding: 75px 5% 10% 5%;
  }

  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
