/* User is signed in */
.account-info-tab {
  background: rgb(232, 232, 232);
  box-shadow: 0px 0px 10px rgb(36, 36, 36);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}
.user-image {
  align-self: flex-start;
}
.user-image img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.account-info-title {
  color: #6c41ec;
  font-weight: bold;
  border-bottom: 2px solid rgb(181, 181, 181);
  font-size: 1rem;
  padding-bottom: 3px;
  margin-bottom: 5px;
  width: fit-content;
}
.account-info-username {
  margin-bottom: 15px;
  color: #323232;
  font-size: 0.9rem;
}
.import-playlist-title {
  color: #6c41ec;
  font-weight: bold;
  border-bottom: 2px solid rgb(181, 181, 181);
  font-size: 0.9rem;
  padding-bottom: 3px;
  margin-bottom: 5px;
  width: fit-content;
}
.user-playlist {
  padding: 0.25rem 3px;
  width: fit-content;
  background: #323232;
  border-radius: 3px;
  cursor: pointer;
  margin: 2px 0;
  transition: all 0.25s ease-in-out;
}
.user-playlist:hover {
  background: #4d4d4d;
}
