.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 37%;
  height: fit-content;
  max-height: 950px;
  padding: 2.27rem 1.16rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0px 0px 5px #000000;
  border-radius: 5px;
}

.Playlist input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
  border-radius: 10px;
  background: rgba(1, 12, 63, 0.7);
  border-bottom: 1px solid #6f6f6f;
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.playlist-controls {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Playlist-save {
  cursor: pointer;
  width: max-content;
  padding: 0.77rem 0.65rem;
  border-radius: 54px;
  border: none;
  background-color: #6c41ec;
  text-align: center;
  font-size: 0.9rem;
  transition: background-color 0.25s;
  color: #fff;
  font-weight: 500;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

.clear-playlist {
  width: max-content;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.77rem 0.65rem;
  border-radius: 54px;
  border: none;

  background-color: rgb(108, 65, 236);
  font-size: 0.9rem;
  cursor: pointer;
}
.slider {
  margin-left: 5px;
  height: 20px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50px;
  background: rgba(1, 12, 63, 0.7);
  display: inline-flex;
  align-items: center;
  transform: rotate(180deg);
}
.slider-thumb {
  background: rgb(225, 225, 225);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 0 2px;
}
.clear-playlist:hover .slider-thumb {
  background: white;
}
.animate-thumb {
  animation: animateThumb 0.2s 1 ease-out forwards;
}
@keyframes animateThumb {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1250px) {
  .playlist-controls {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
  .playlist-controls {
    flex-direction: row;
  }
}
@media only screen and (max-width: 360px) {
  .playlist-controls {
    flex-direction: column;
  }
}
