.Preview-button {
    cursor: pointer;
    width: fit-content;
}

.audioControl {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: relative;
    height: 35px;
    width: 35px;
}

.previewIcon:hover {
    color: rgb(216, 216, 216);
}

.pause {
    position: absolute;
}

.progressCircle {
    position: absolute;
    display: inline-block;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: conic-gradient(transparent 10%, rgb(136, 103, 236));
    animation: 30s linear 0s 1 spinner;
}

@-webkit-keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}